.m-button{
    float:left;
    width:100%;
    padding-bottom:30px;
}
.staff_directory .staff_heading_row .heading_left .icon {
	float: left;
	margin-right: 20px;
}
@media screen and (max-width: 1070px) {
	.inc_prodtbl_wrap .incident_detail_product_stock{
        min-width: 100%;
    }
	.button-left {
        width: 40%;
    }
    .button-right {
        width: 55%;
    }
	.security-sections h3 {
		font-size: 30px;
	}
}


@media screen and (max-width: 1024px) {
    .minSize100 {
        width: 100%;
        margin-bottom: 15px;
    }
    .checkboxMe2 {
        margin-right: 10px;
    }
    
    
    .view-pics li,
    .vehicles-wrap li{
        width:24%;
    }
    .carousel-demo-fullscreen ul[rn-carousel] {
      height:400px;
    }
    .incident_report_details .col_3, .incident_report_details .col_2{
        width: 50%;
    }
    .incident_report_tab .col_1 .incident_wrap span {
        width: 85px;
    }
    
    .incident_report_wrapper .type_wrapper .icon-btn .btn-txt{
        padding: 0 5px 0 18px;
    }
	.inc_prodtbl_wrap table tr td, .inc_prodtbl_wrap table tr th{
		font-size: 11px;
	}
    .member-profile{
        width: 45px;
    }
    .link-profile{
        width: 45px;
        height: 45px;
    }
    .logout{
        margin-left: 0px;
    }
}

@media screen and (min-width: 991px) {
    .col_01.mail-box-mes{
        display: block !important;
    }
}
/*media query start here for commas & Tasks page*/
@media screen and (max-width: 991px) {
	.incident_report_tab .col_1 .incident_wrap span {
        width: 72px;
		margin-right: 5px;
    }
    
    .table-reponsive {
        float: left;
        width: 100%;
        overflow-x: auto;
    }
    .inboxBtn{
        display: block;
    }
    .col_01 p {
        margin-top: 5px;
    }
    .col_01 {
        float: left;
        width: 100%;
        margin: 0px 0px 15px 0px;
		position: relative;
		left: 0;
		
    }
    .mail_main_container {
        float: left;
        width: 100%;
        overflow: inherit;
		padding-left: 0;
    }
    .wid_50 {
        width: 100%;
    }
    .wid_50:first-child {
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .wid_50:last-child {
        margin-left: 0px;
    }
    .welcome-column.bottomMar {
        margin-bottom: 40px;
    }
    
    .incident-lists .table-main table tr th,
    .incident-lists .table-main table tr td,
    .incident-lists .table-main table tr td span,
    .incident_lists_tabs li a{
        font-size:13px;
    }
    .incident_lists_tabs li{
        margin-right:10px;
        width: 45%;
    }
    .incident_lists_tabs{
        padding:10px 15px;
    }
    .incident-lists .table-main table tr td{
        padding:12px;
    }
    ul.o_d_l li p{
        font-size: 14px;
    }
    ul.o_d_l li p span{
        width:43%;
    }
    ul.o_d_l li p strong{
        width: 55%;
    }
    .incident_notes_wrap .angTabWrapper span.comms {
        top: 8px;
        right: 4px;
        width: 20px;
        height: 20px;
        background-size: 20px;
    }
    
    .vwl_add .left,
    .vwl_add .right {
        width: 100%;
    }

    /*media css*/
     .employee_dashboard .user-column li {
        width: 48%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .employee_details h4 {
        font-size: 14px;
    }
    .employee_details h5 {
        font-size: 14px;
    }
    .employee_details h5 span {
        font-size: 14px;
    }
    .employee_dteails_wrap span.online {
        right: 15px;
        bottom: 8px;
    }
    .staff_cols .staff_details .staff_btn {
        width: 185px;
        height: 65px;
    }
    .staff_directory .staff_heading_row .heading_left {
        width: 40%;
    }
    .staff_directory .staff_heading_row .heading_right {
        width: 60%;
    }
    .employee_details ul.tabs li {
        margin: 0px 30px 0px 0px;
    }
    .staff_directory .staff_heading_row .heading_right .left_text_box {
        margin-top: 0px;
    }
    .documents_wrap .document_row .text {
        margin-top: 0px;
    }
    .documents_wrap .document_row .text p span {
        display: block;
        margin-left: 0px;
    }
    /*offenders*/
    .view-pics li,
    .vehicles-wrap li{
        width:32.3%;
    }
    .v-w-v .select-type{
        width: 100%;
        margin-top: 10px;
		margin-left: 0;
		border-left: 0;
    }
    .vw-staff{
        float: none;
        display: inline-block;
        margin-left: 10px;
        width: 80%;
        text-align: left;
        vertical-align: top;
    }
    .vw-staff > li{
        margin-bottom: 10px;
    }
    .global-v-o-w .staff_tabs{
        width: 100%;
    }
    .incident_report_btn_wrapper .action-button .s-btn-icon{
        line-height: 42px;
    }
    .up_img_wrap .files_upload_wrap .image {
        height: 120px;
    }
    .incident_report_tab ul.tabs li{
        font-size:13px; min-height: 30px;
    }
    .incident_report_tab .incident_wrap h3, .whh_wrap > h3, .whh_wrap h6,
    .incident_report_tab .loading_content h3{
        font-size: 24px;
    }
    .product_table_wrap .control-group table{
        min-width: 850px;
    }
	.product_table_wrap strong {
		font-size: 6px;
	}
	
	.button-left {
        width: 47%;
        margin-bottom: 10px;
      
    }
    .button-right {
        width: 47%;
          margin-bottom: 10px;
    }
	#securitySection .icon-btn .btn-txt {
		float: left;
		font-size: 16px;
		padding: 0 0px;
	}
    
    .incident-lists .heading_right .left_text_box{
        width: 47% !important;
        float: left;
    }
    
    .incident-lists .heading_right .right_btn {
        width: 49% !important;
    }
    .incident-lists .heading_right .right_btn .button {
        height: 55px;
    }
    /*coms & tasks*/
    .msg_content{
        min-height: 0px;
    }
    .srch-box .search-icon{
        height: 52px;
    }

}

@media screen and (min-width: 768px) {
    ul.primary-nav,
    .mobile-toggle,
    .global-v-o-w .staff_directory .staff_select_wrapper,
    .incident_lists_wrapper,
    .staff_select_wrapper,
    .incident_lists_tabs {
        display: block!important;
    }
    
}
@media screen and (min-width: 769px) {
    .offender-content-tabing h2.hor_1{
        display: none!important;
    }
    .offender-content-tabing ul.tabs{
        display: block!important;
    }
}
@media only screen and (max-width: 850px) {
    .staff_directory .staff_details_wrap .staff_cols {
        width: 100%;
        margin: 10px 0px;
        padding: 10px 0px;
    }
    .staff_directory .staff_details_wrap .staff_cols .access_level_wrap {
        min-height: 100%;
    }
    .staff_cols .staff_details {
        min-height: 100%;
        margin-bottom: 40px;
    }
    .staff_directory .staff_heading_row .heading_left {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

   
    .staff_directory .staff_heading_row .heading_right {
        width: 100%;
        text-align: center;
    }
    .staff_directory .staff_heading_row .heading_right .pull-right {
        float: none !important;
        display: inline-block;
    }
	.staff_directory .task-and-check-list .heading_left{
		width: 60%;
	}
	 
	.staff_directory .task-and-check-list .heading_right{
		width: 40%;
		
	}
	.staff_directory .task-and-check-list .heading_right .pull-right{
		float: right!important;
		width: 75%;
	}
    .staff_directory .staff_tabs li {
        width: 33.33%;
        padding-right: 5px;
        margin: 5px 0px;
    }
    .employee_details ul.tabs li {
        font-size: 16px;
        margin: 0px 15px 0px 0px;
    }
	.employee_details-tabs ul.tabs li{
		font-size: 13px;
        margin: 0px 10px 0px 0px;
	}
    .documents_wrap .left {
        width: 100%;
        padding-right: 0px;
    }
    .documents_wrap .right {
        width: 100%;
        padding-left: 0px;
    }
    .incident-lists .heading_left .text{
        margin-left: 0px;
    }
    .global_Load_head .text_head{
       // margin-top: 0px;
    }
    .tabs li{
        margin: 0px 5px;
    }
    .white_selectbox.select_head .btn.btn-default{
        font-size: 28px;
    }
    .contact-info-detail .right, 
    .contact-info-detail .left{
        width: 100%;
        padding: 0px;
        min-height: 0px;
        margin-bottom: 0px;
    }
    .more-link{
        margin-left: 5px;
    }
}
@media only screen and (max-width: 800px) {
    .employee_details .left {
        width: 100%;
        padding: 0px;
    }
    .employee_details .right {
        width: 100%;
        margin-bottom: 30px;
        padding: 0px;
    }
    
    .employee_dashboard .emp_btn_left {
        margin-bottom: 40px;
    }
    .employee_dashboard .emp_btn_right {
        margin-bottom: 40px;
    }

    #content h1{
        font-size:28px;
    }
    .v-number{
        font-size: 22px;
    }
    .white_selectbox.select_head .btn.btn-default{
        font-size: 25px;
    }
    .link-profile{
        display: block;
        width: 40px;
        overflow: hidden;
        border-radius: 50px;
        height: 40px;
    }
    .link-profile img{
        width: 40px;
        height: auto;
        border-radius: 0px;
    }
    .security-sections h3 {
        font-size: 22px;
    }
    .month-date{
        font-size: 15px;
    }
    .incident_report_wrapper .victim_wrap .victim_btn_wrap button{
        font-size: 13px;
        padding: 18px 7px;
    }
}



@media screen and (max-width: 768px) {
    
	.inc_prodtbl_wrap .incident_detail_product_stock{
		min-width: 500px;
	}
	
    .indicent-lft,
    .indicent-map,.incident-right{
        width:100%;
    }
    
    /*offenders*/
    .view-pics li,
    .vehicles-wrap li{
        width:49%;
    }
    
    .off-image > img{
        width:100%;
    }
      .incident_report_tab .tab_content{
        padding-right: 0px;
    }
    .o_d_t_wrap .left{
        width: 100%;
    }
    .offender-content-tabing h2.hor_1{
        display: block!important;
    }
    .offender-content-tabing ul.tabs{
        display: none!important;
    }
    
}

@media screen and (min-width: 601px) and (max-width:767px) {
     .m-button .model_button_right,
     .m-button .model_button_left {
        display: inline-block;      
        width: 40%;
        padding:0 0px;
    }
    .o_d_t_wrap .left{
        width: 49%;
    }
    .model_button_margin{
        margin:0;
    }
    
    .m-button .wd-f{
        float: none;
        margin-top: 21px;
        max-width: 100%;
        width: 100%;
    }
}
    
@media screen and (max-width: 767px) {

    .incident_victims_details,
    .incident_notes_wrap {
        background: #222;
        padding: 15px;
        border-radius: 10px;
    }
    .incident_notes_wrap {
        padding-top: 40px;
    }
    
    .add-note .popup-heading p span{
        margin-top: 5px;
        font-size: 14px;
    }

    .staff_directory .task-and-check-list .heading_left{
        width: 100%;
    }
     
    .staff_directory .task-and-check-list .heading_right{
        width: 100%;
        
    }
    .staff_directory .task-and-check-list .heading_right .pull-right{
        float: none!important;
        width: 100%;
        display: inline-block;
        
    }
    .incident_notes_wrap .angTabWrapper span.comms{
        top: 8px;
        width: 30px;
        height: 30px;
        background-size: 30px;
        right: 10px;
    }

    /*global buttons css*/
    
	.angular-error,
    .help-inline{
        position: static;
        margin-top: 5px;
        float: left;
    }
    .model_button .btn-group {
        width: 100%;
    }
   
    .model_button {
        text-align: center;
        float:left;
        width:100%;
    }
   
    #content h1{
        font-size: 28px;
    }
    .modal-change .action-button button{
        width:100%;
    }
    
    .model_button .icon-btn .btn-txt {
        /*font-size: inherit;*/
    }
    .backSendDiv .model_button:after {
        border: 0;
    }
    /*global buttons css end*/
    

    ul.primary-nav li {
        width: 100%;
    }
    ul.primary-nav li.comms {
        width: 100%;
    }
    .model_wrapper {
        top: 8%;
    }
    .alert_pop_wrap.confirmPopup,
    .alert_pop_wrap.saveIncident {
        display: flex;
        align-items: center;
    }
    .alert_pop_wrap.confirmPopup .model_wrapper,
    .alert_pop_wrap.saveIncident .model_wrapper{
        top: auto;
        height: auto;
        margin: auto !important;
    }
    .alert_pop_wrap.confirmPopup .model_wrapper .model_button{
        margin-top: 0px;
    }
    .replyBtnDiv {
        margin-bottom: 5px;
    }
    .senderInfo {
        border-top: 1px solid #777777;
        padding-top: 5px;
        width: 100%;
    }
    .getHeight {
        margin-top: 30px !important;   
    }
    ul.primary-nav li a {
        padding-right:10px;
        padding-left:10px;
    }
    
    .senderDetails p span {
        margin-left: 0px;
        width: 100%;
    }
    .senderDetails p {
        padding: 0px;
    }
    .messageDiv h2:after {
        width: 25px;
        height: 25px;
        margin-top: 2px;
    }
    .messageDiv h2 {
        padding-right: 35px;
    }
    .atchmt {
        max-width: 120px;
        max-height: 80px;
    }
    .attachmentDiv p {
        font-size: 13px;
    }
    
    .AOCtabs {
        padding: 5px 10px;
    }
    .AOCtabs ul.aoculli {
        width: 100%;
    }
    .AOCtabs ul.aoculli li {
        width: 100%;
        margin-right: 0px;
    }
    .AOCtabs ul.aoculli li span {
        width: 100%;
    }
    .AOCtabs ul.aoculli li span a {
        display: block;
    }
    .AOCtabs ul.aoculli li span.redInfo {
        margin-top: -26px;
        width: auto !important;
        float: right;
    }
    .AOC_Content ul,
    .AOC_Content_01 ul {
        margin-bottom: 0px;
    }

    .asignList .bell {
        font-size: 16px;
        margin-top: 2px;
        margin-left: 10px;
    }
    .asignList .asignDivContent p {
        font-size: 14px;
    }
    .icon-btn .btn-txt {
        padding: 10px 5px;
    }
    
    
    
    /*offenders pages*/
    
    .incident-lists .heading_left, 
    .incident-lists .heading_right{
        width:100%;
        text-align:center;
    }
    
    .incident-lists .heading_right .left_text_box,
    .incident-lists .heading_right .right_btn{
        width:100%;
        margin:10px 0;
    }
    
    .incident_lists_tabs li{
        display:block;
        width:50%;
        margin:5px 0;
    }
    .incident_lists_wrapper .col_select{
        display:block;
        width:100%;
        margin:10px 0;
    }
    
    .incident-lists .table-main{
        overflow-x:scroll;
    }
    
    .incident-lists .table-main table{
        min-width:768px;
    }
    
    /*offenders css*/
    .offenders-filter li{
        width:100%;
        margin-right:0;
    }
    .offenders-view{
        text-align:center;
    }
    
    .filter-icon{        
         float: right;
         position:static;
         margin-top: 13px;
    }
    
    .global-v-o-w .staff_directory .staff_select_wrapper{
        padding-bottom:0;
    }
    
    .o-filter-o{
        margin-top:0;
    }
    
    .reg_number .help-inline{
        position: static;
    }
    /*employees css*/

    .employee_head_btn {
        width: 120px;
        margin-bottom: 20px;
    }
    .employee_header .icon {
        float: left;
        margin-top: -14px;
        margin-right: 5px;
    }
  
 
    .employee_dteails_wrap {
        padding-bottom: 40px;
    }
    .staff_directory .staff_select_wrapper .col_select {
        width: 50%;
        margin: 0px;
        padding: 5px;
    }
    
    
    .employee_dashboard .col-box-left {
        width: 100%;
        position: relative;
        border-radius: 10px 10px 0px 0px;
    }
    
    span.offline{
        display: inline-block;
        float: left;
        margin-top: 0px;
    }
     .employee_header .icon {
        margin-top: -5px;
    }

     .employee_dashboard .user-column li {
        width: 48%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    
    .employee_dashboard .user-column {
        padding-left: 10px;
    }
    
    .employee_dashboard .user-dashboard h3{
        font-size:inherit;
    }
    
    .ls_btn{
        width: 100%;
        margin: 10px 0px;
    }

    .notification h5{
        padding: 7px 50px;
    }
    .staff_select_wrapper .ls_btn{
        width: 49.5%;
    }
    .filter_ico .col_select{
        width: 50% !important;
    }
    .report-eighteen .report-left{
        width: 100%;
        margin-bottom: 20px;
        padding: 0px;
    }
    .report-eighteen .report-right{
        width: 100%;
    }
    .staff_header .text{
        margin-top: 0px;
    }
    .vw-staff{
        width: 100%;
        margin: 0px;
        margin-top: 10px;
        padding: 0px;
    }
    .a_row{
        margin: 15px 0px;
    }
    .row_cross{
        right: 2px;
        top: -35px;
    }
    .white_selectbox.select_head .btn.btn-default{
        font-size: 25px;
    }
    .reg_number .form-control{
        font: 700 30px Arial;
        padding: 5px 5px;
    }
    .np_wrap{
        width: 35%;
    }
    .np_area{
        padding: 5px 15px;
    }
    .vvheader_wrap .edit_btn_wrap{
        position: relative;
        width: 100%;
        top: auto;
        float: left;
        text-align: right;
        margin: 10px auto;
    }
    .vvheader_wrap .edit_btn_wrap .btn-group{
        min-width: 200px;
        display: inline-block;
    }
    .vvheader_wrap .text_wrap{
        padding-right: 0px;
    }
    .option_select .btn.btn-default{
        font-size: 26px;
        line-height: 28px;
    }
    h1.drop_head{
        margin-right: 5px;
    }
    .up_img_wrap .files_upload_wrap .image {
        height: 100px;
    }

    .incident_report_details .col_3, .incident_report_details .col_2{
        width: 100%;
    }
	#Add_VictimWitness .form_list .custom-radio input[type=radio] + label:before {
		margin-right: 10px;
	}
	.form_list .custom-radio {
		margin-right: 10px;
	}
	
	.save-icon {
		width: 50px;
		height: 50px;
	}
	.modal-change .popup-heading p {
		font-size: 20px;
	}
    .bs-searchbox{
        display: none;
    }
    #Add_VictimWitness  .form_list .ftb .form-control{
        height: 40px;
    }
    .senderDetails p strong{
        display: block;
    }

    /*coms & tasks*/
    .msg_data_tbl{
        margin-top: 10px;
    }
    .msg_footer h5{
        margin-bottom: 10px;
    }
    .statusFilter{
        display: block;
    }
    .statusFilter {
        display: block;
    }
    .incident_lists_tabs li span{
        font-size: 11px;
    }
    .saveIncidentPopupWrap{
        width: 100%;
    }
    .logOutWrap .model_alert_text h3,
    .logOutWrap .model_alert_text h4 {
        font: 20px Arial;
        line-height: 30px;
        padding-top: 0px;
    }
    .logOutWrap .model_alert_text{
        padding-top: 43px;
    }
    .incident_report_wrapper .type_wrapper h3 {
        float: none;
        margin-right: 0px;
    }
}


@media only screen and (max-width: 600px) {
    
    
    
    /*global heading center*/
    .staff_header{
        text-align:center;
    }
    
    .staff_header .icon{
        float:none;
        display:inline-block;
    }
    
    .staff_header .text{
        width:100%;
        padding-left:0;
        margin-left: 0px;
        text-align: center;
    }
    #content .staff_header .text h1{
        text-align: center;
        margin-bottom: 10px;
    }
    .m-button .model_button_right,
    .m-button .model_button_left{
         max-width: 45%;
        margin:10px 0;
         width: 100%;
    }
    .model_button_left.wd-f{
        max-width: 100%;
    }
    .m-button{
        padding-bottom: 0px;
        margin-top: 0px;
    }
    .employee_head_btn{
        float: none;
    }
    .employee_dteails_wrap .employee_img{
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .employee_details{
        width: 100%;

    }
    .carousel-demo-fullscreen ul[rn-carousel] {
      height:300px;
    }
    
    .up_img_wrap .col_4 {
        width: 48%;
        margin-bottom: 20px;
    }
    .offender_global_head .text_wrap{
        float: none;
    }
    .np_wrap{
        width: 90%;
        float: none;
        margin: 20px 0px;
    }
    .vvheader_wrap .edit_btn_wrap{
        text-align: center;
    }
    .vvheader_wrap .text_wrap{
        text-align: center;
    }
    .vvheader_wrap .vvh_icon{
        float: none;
        display: inline-block;
        text-align: center;
    }
    .vvheader_wrap .np_wrap{
        float: none;
        display: inline-block;
        width: 90%;
    }
    .vvheader_wrap .np_area{
        width: 100%;
        text-align: center;
    }
    .vvheader_wrap p{
        text-align: center;
    }
    .up_img_wrap .files_upload_wrap .image {
        height: 170px;
    }
	#222 .incident_report_btn_wrapper .incident_btn_wrap{
		width: 140px!important;
	}

    /*trix editor css modification*/
    .text_editer .button_groups{
        padding: 0px;
    }
    .text_editer .button_groups:before,
    .text_editer .button_groups:after{
        display: table;
        clear: both;
        content: '';
    }
    trix-toolbar .button_group{
        margin: 0px 0px 4px !important;
        border-radius: 0px !important;
        border: 0px !important;
        float: left;
        border-right: 1px solid #ccc !important;
    }
    .text_editer trix-editor{
        border-radius: 10px;
    }
    .incident_lists_tabs li{
        margin: 5px auto;
    }
    .o_d_t_wrap ul{
        min-height: 0px;
    }
    .staff_directory .staff_tabs li{
        width: 50%;
    }
	
}
@media screen and (max-width: 568px) {
   /*offenders*/
    .off-name,
    .v-name{
        font-size: 14px;
        height: 35px;
    }
    .view-detail a{
        height: 40px;
        width: 40px;
    }
    .view-detail p{
        font-size: 15px;
    }
    .view-detail{
        top: 60px;
    }
    .vvl_wrap ul li p{
        font-size: 14px;
    }
    /*#header{
        min-height: 150px;
    }*/
    .breadcrumb li{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .carousel-demo-fullscreen ul[rn-carousel] {
      height:250px;
    }
    .a_row{
        margin: 5px 0px;
    }
    .row_cross{
        top: 5px;
    }
    .addmr_wrap{
        padding: 0px;
    }
    .contact-info-detail .left {
        padding: 0px;
        width: 100%;
        margin-bottom: 0px;
    }
    .contact-info-detail .right {
        padding: 0px;
        width: 100%;
        margin-bottom: 0px;
    }
    .off-image{
        height: 150px;
    }
    .off-image img{
        display: block;
    }
    .up_img_wrap .files_upload_wrap .image {
        height: 150px;
    }
    .incident_report_wrapper .why_not_wrap textarea,
    .input_box_wrap textarea{
        margin-top: 0px;
    }
    .vw-staff > li{
        width: 46%;
    }
    .vw-staff .custom-checkbox label{
        font-size: 13px;
    }
    .incident_report_wrapper .victim_wrap .victim_btn_wrap button{
        padding: 10px 0px;
    }
    .employee_header h1 span{
        display: block;
        margin-top: 5px;
    }
    trix-toolbar .button_group button, trix-toolbar .button_group input[type=button]{
        width: 35px !important;
        height: 30px !important;
    }
    .incident_lists_tabs li{
        width: 100%;
    }
    .global_Load_head .text_head h1 strong{
        display: block;
        margin-top: 10px;
    }
    .incident_report_details .col_4 .whh_wrap > h3{
        padding-top: 0px;
    }
    .inc_wrap{
        margin-bottom: 10px;
    }
    .logOutWrap .model_alert_text h3, 
    .logOutWrap .model_alert_text h4{
        font-size: 18px;
        line-height: 22px;
    }
    .logOutWrap .c100.med{
        font-size: 80px;
        margin: 0px;
    }
    .logOutWrap .model_alert_text{
        padding-top: 17px;
        padding-left: 90px;
    }
    .logOutWrap .model_button{
        margin-top: 0px;
    }
}
    
@media screen and (max-width: 479px) {
	.incident_report_tab .col_1 .incident_wrap h5, .incident_report_tab .col_1 .incident_wrap p, .inc_wrap p, .incident_report_tab .col_1 .incident_wrap h4, .incident_report_details .incident_overview p {
		font-size: 12px !important;
        margin: 5px auto;
	}
    .incident_report_details .whh_wrap ul li .roff_wrap{
        min-height: auto;
    }
    .ot_tip .tooltip{
        width: 140px !important;
        margin: 0 -70px 0 0;
    }
	.incident-lists .heading_left .text{
		width: 100%;
		margin-top: 10px;
	}
    .task_details ul li {
        width: 100%;
        padding-right: 0px;
    }
    .mobile-toggle{
        top: 64px;
    }
    /*employees css*/    
    .employee_details .data_col {
        width: 36%;
    }
    .employee_details .data_col2 {
        width: 63%;
    }
    .employee_header .icon {
        float: left;
        margin-top: -4px;
        margin-right: 5px;
    }
    .srch-box{
        padding: 0px;
        box-shadow: none;
    }
    .srch-box .search-btn{
        height: 37px;
        padding: 10px 60px 10px 10px;
    }
    .staff_directory .staff_heading_row .heading_right .left_text_box{
        width: 60%;
    }
    .staff_directory .staff_heading_row .heading_right .right_btn{
        width: 38%;
        margin-top: 0px;
    }
    .staff_directory .staff_heading_row .heading_right.sdWrap .left_text_box {
        width: 63%;
    }
    .staff_directory .staff_heading_row .heading_right.sdWrap .right_btn {
        width: 35%;
        margin-top: 0px;
    }
    .staff_directory .staff_select_wrapper .col_select {
        width: 100%;
        margin: 0px;
        padding: 5px;
    }
    .staff_directory .staff_tabs li {
        width: 49%;
        margin: 5px 0px;
    }
	.staff_directory .staff_tabs li span {
		font-size: 11px;
	}
	.staff_directory .staff_tabs li a {
		font-size: 12px;
		margin: 5px 0px 5px 5px;
	}
    .staff_cols .staff_details .staff_text_detail h3 {
        font-size: 18px;
    }
    .staff_cols .staff_details .staff_text_detail h4 {
        font-size: 18px;
    }
    .staff_cols .staff_details .staff_text_detail h5 {
        font-size: 16px;
    }
    .employee_wrap .security-sections h3 {
        font-size: 16px;
    }
    .staff_header {
        text-align: center;
    }
    .staff_header .icon {
        display: inline-block;
        float: none;
    }
    .staff_header .text {
        width: 100%;
        text-align: center;
    }
    .staff_header .text h1 {
        text-align: center;
    }
    .staff_header .text h2 {
        text-align: center;
    }
    .employee_head_btn {
        width: 150px;
        margin-top: 10px;
        float: none;
        margin: 10px auto;
        display: block;
    }
    .documents_wrap .document_row .icon {
        width: 60px;
        text-align: center;
        margin: auto;
        position: relative;
        height: auto;
    }
    .documents_wrap .document_row .text {
        width: 100%;
        text-align: center;
        padding: 0px;
        margin-top: 10px;
    }
    .documents_wrap .document_row .text h3 {
        font-size: 16px;
    }
    
    .emp_btn_left {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }
    .emp_btn_right {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }
    .employee_wrap .security-sections h3 span {
        right: -10px;
    }
    .staff_cols .staff_details .staff_head .staff_image {
        width: 80px;
        height: 80px;
    }
    .staff_cols .staff_details .staff_head .staff_text {
        padding-left: 95px;
    }
    .employee_details h4 {
        font-size: 13px;
    }
    .employee_details h5 {
        font-size: 13px;
    }
    .staff_directory .staff_heading_row .heading_left .icon{width: 100%;}
    .staff_directory .staff_heading_row .heading_left .text{padding-left: 0px;}
    .staff_directory .staff_heading_row .heading_left .text h1{
        text-align: center;
    }

    .staff_select_wrapper .ls_btn{
        width: 97%;
        margin: 5px 1.5%;
    }
    .filter_ico .col_select{
        width: 100% !important;
    }
    .nya-bs-select .dropdown-toggle .filter-option{
        padding-right: 20px;
    }
    .combine-btn .yes_left, .combine-btn .no_right{
        width: 100%;
        margin: 10px 0px;
    }
    .carousel-demo-fullscreen ul[rn-carousel] {
      height:200px;
    }
    .option_select .btn.btn-default{
        font-size: 18px;
        line-height: 20px;
    }
    .up_img_wrap .files_upload_wrap .image {
        height: 120px;
    }
	
	.on-icons .d-icon{
		background-size: 70%;
		background-position: center center;
	}
	.circle-icon {
		width: 70px;
		height: 70px;
	}
	.global_Load_head .icon {
		width: 70px;
		height: 70px;
	}
    .employee_dashboard .user-column{
        padding-left: 0px;
    }
	#content h1 {
		font-size: 18px;
	}
	.employee_dashboard .circle-icon {
		width: 70px;
		height: 70px;
	}
	.employee_dashboard .circle-icon span {
		height: 70px;
		width: 25px;
		background-position: center center;
		background-size: 25px;
	}
	.employee_dashboard .col-box-left .circle-icon span {
		line-height: 50px;
		height: 50px;
		vertical-align: top;
	}
	.employee_dashboard .user-dashboard h3,
    .employee_dashboard .icon-btn .btn-txt {
		font-size: 12px;
	}
	.employee_dashboard .user-dashboard .button {
		max-width: 120px;
	}
    .user-column ul:before,
    .user-column ul:after{
        content: '';
        display: table;
        clear: both;
    }
	.employee_dashboard .user-column li {
        margin-top: 15px;
        margin-bottom: 10px;
        padding: 0;
        margin-left: 1%;
        margin-right: 1%;
        float: left;
	}  
	.side-panel .icon {
		width: 30px!important;
		height: 30px!important;
	}
	.prof_log {
		margin-top: 6px;
	}
	.member-profile {
		width: 38px;
	}
	.month-date{
		font-size: 15px;
	}
	#header {
		min-height: auto;
		height: auto;
		padding-bottom: 0;
	}
	.breadcrumb-outer {
		position: relative;
	}
	.icon-btn .button {
		padding: 5px 5px;
	}
	.s-btn-icon {
		width: 25px;
		height: 25px;
		line-height: 25px;
		font-size: 14px;
	}
	.employee_dashboard .s-btn-icon img {
		display: inline-block;
		vertical-align: top;
		margin-top: 3px;
	}
	.icon-btn .btn-txt {
		font-size: 12px;
	}
    .v-number{
        font-size: 15px;
    }
	.inc_wrap p, .incident_report_tab .col_1 .incident_wrap h4 {
		font-size: 12px;
	}
	.incident_report_tab .incident_wrap h3, .whh_wrap > h3, .whh_wrap h6 , .inc_lwrap .inc_text_right h4{
		font-size: 14px;
	}
	#content h2 {
		font-size: 16px;
	}
	.resp-arrow {
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 5px solid #ff8000;	
	}
	h2.resp-tab-active span.resp-arrow {
		border: none;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-bottom: 6px solid #ff8000;
		border-width: medium 4px 5px;
	}
	.notes_wrap_text h3, .notes_wrap_text p {
		font-size: 14px;
		padding: 0 5px;
	}
	.notes_wrap_img, .next_line .notes_wrap_img {
		width: 60px;
		height: 60px;
		left: 50%;
		margin-left: -30px;
	}
	.incident_notes_wrap .notes_wrap {
		margin-top: 10px;
	}
	.notes_wrap_content {
		padding-top: 80px;
	}
	.inc_prodtbl_wrap p {
		font-size: 14px;
	}
	.inc_lwrap .inc_text_right h4 {
		font-size: 14px;
	}
	.incident_report_tab .col_1 .incident_wrap * {
		padding: 0 15px;
	}
    .incident_report_tab .col_1 .map_wrap *{
        padding: 0 0px;
    }
	.whh_wrap h3 , .inc_wrap h4{
		font-size: 12px;
	}
	.roff_wrap p span {
		width: auto;
		margin-right: 10px;
	}
	.roff_wrap p strong {
		width: 35%;		
	}
	.whh_wrap > h3,
    .incident_report_tab .loading_content h3{
		font-size: 14px;
	}
	.inbtn_fr, .incident_report_btn_wrapper .incident_btn_wrap{
		margin-top: 0px;
	}
	.staff_directory .staff_heading_row .heading_left .icon {
		width: 100%!important;
	}
	.staff_directory .staff_heading_row .heading_left .text {
		margin-left:0;
		float: left;
		width: 100%;
	}
	.on-icons .d-icon.calender {		
		vertical-align: top;
		height: 50px;
		background-size: 60%;
	}
	.comms_heading .icon {
		width: 70px;
		height: 70px;
		float: none;
		display: block;
		margin: 15px auto;
                border-radius: 100%;
	}
	.comms_heading {
		text-align: center;
	}
	#content #commsTaskHome h1{
		margin-bottom: 0;
	}
	.security-sections h3 {
		font-size: 14px;
	}
	.breadcrumb li a {
		padding: 0 5px;
	}
	.smallIcons {
		float: none;
		margin-right: 0;
	}
	.staff_directory .staff_heading_row .heading_left.commLeft .text {
		margin-left: 0;
	}
	#content .message_popup_wrap h2, .msg_footer h3 {
		font-size: 16px;
	}
	.msg_content .notes_wrap_text h3 {
		font-size: 14px;
	}
	.next_line .notes_wrap_content {
		padding-top: 80px;
	}
	.employee_details-tabs ul.tabs li {
		font-size: 11px;
		margin: 0px 7px 0px 0px;
		min-height: 30px;
	}
	.employee_head_btn .s-btn-icon {
		line-height: 28px;
		font-size: 14px;
	}
	.employee-sections > p {
		float: left;
		width: 100%;
	}
	.online, span.offline {
		float: left;
        margin-top: 0px;
		text-align: left;
	}
	
	#witnessListTab .vw-staff {
		margin-left: 0;
	}
	.select-type .custom-checkbox input[type=checkbox] + label:before, .select-type .custom-checkbox input[type=checkbox]:checked + label:before{
		width: 17px;
		height: 17px;
		background-size: 100%;
	}
	.view-detail p {
		font-size: 14px;
	}
	#witnessListTab .vw-staff {
		width: 100%;
	}
	
	.modal-change .popup-heading p {
		font-size: 16px;
		margin-top: 0px;
	}
	.button {
		font-size: 14px;
        padding: 15px 10px;
	}
	.model_button .action-button .s-btn-icon {
		line-height: 36px;
		font-size: 20px;
	}

    /*new responsive for mobile view*/
    .setLeft .pull-left{
        margin-bottom: 15px;
    }
    .staff_directory .staff_heading_row .heading_left .icon{
        margin-right: 0px;
    }
    .staff_directory .staff_heading_row .heading_left{
        margin-bottom: 0px;
    }
    .staff_directory .staff_heading_row .heading_left.commLeft .text{
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .btnWhite{
        padding: 4px 7px;
    }
    .orange_select .btn.btn-default.actions-btn{
        padding: 5px 0px;
        width: 48%;
        margin: 0px 1% 5px;
    }
    .heading_right .no-style .search-btn{
        height: 40px;
    }
    .heading_right .srch-box.no-style .search-icon {
        top: -1px;
        width: 45px;
    }
    .heading_right .left_text_box .no-style .search-btn{
        height: 37px;
    }
    .heading_right .left_text_box .srch-box.no-style .search-icon {
        top: -1px;
        width: 45px;
        height: 37px;
    }

    .staff_directory .staff_heading_row .heading_right.vdWrap .left_text_box{
        float: none;
        margin: auto;
    }
    .se_btn{
        height: 40px;
    }
    .off-name, 
    .v-name,
    .view-detail p{
        font-size: 12px;   
    }
	.incident-btn{
        margin-top: 0px;
    }
    .incident_report_wrapper .type_wrapper .icon-btn .btn-txt{
        width: 85%;
    }
    .off-image{
        height: 120px;
    }
    .staff_cols .staff_details .staff_text_detail h6 {
        font-size: 16px;
    }
    .ngdialog.ngdialog-theme-default {
        padding-top: 50%;
        padding-bottom: 50%;
    }
    .ngdialog.ngdialog-theme-default .ngdialog-content{
        top: 25px;
    }

    /*validation mobile css*/
    .alertvalidate{
        padding: 10px;
    }
    .alertvalidate h4{
        padding: 0px 20px 0px 5px;
        font-size: 13px;
        min-height: 50px;
        line-height: 16px;
    }
    .alertvalidate .success-icon, 
    .alertvalidate .info-icon, 
    .alertvalidate .warning-icon, 
    .alertvalidate .error-icon{
        height: 35px;
        width: 35px;
        margin: 6px 0px;
    }
    .alertvalidate  .close{
        right: 5px;
        top: 2px;
        font-size: 16px;
    }
    .add-note .popup-heading p span{
        font-size: 13px;
        margin-top: 5px;
    }
    .modal-icon{
        height: 50px;
        width: 50px;
    }
    .model_wrapper{
        padding: 10px;
    }
    .prod_stock_pop_wrap .prod_content p,
    .incident_report_wrapper .responding_ofc_wrapper .col_2 .form-control,
    .employee_dashboard .item-circle{
        font-size: 12px;
    }

    /********************comms & tasks********************/
    .welcome-column .inboxBtn{
        font-size: 14px;
    }
    .welcome-column .col_01{
        min-height: 235px;
    }
    .welcome-column .col_01 ul li a{
        font-size: 12px;
    }
    .welcome-column .col_01 p{
        font-size: 14px;
    }
    .welcome-column .col_01 p span{
        line-height: 10px;
        font-size: 10px;
    }
    .welcome-column .col_01 ul li{
        padding: 5px 0px 5px 20px;
    }
    .welcome-column .col_01 ul li.mailIco:before, 
    .welcome-column .col_01 ul li.alertIco:before, 
    .welcome-column .col_01 ul li.notifiIco:before, 
    .welcome-column .col_01 ul li.commsIco:before{
        width: 15px;
        height: 15px;
    }
    .staff_directory .staff_heading_row.Alerts .heading_right .left_text_box,
    .staff_directory .staff_heading_row.Notifications .heading_right .left_text_box,
    .staff_directory .staff_heading_row.Comms .heading_right .left_text_box{
        width: 80%;
        float: none;
        margin: auto;
    }
    .mail-box-table{
        min-height: 0px;
    }
    /*trix editor*/
    .text_editer trix-editor {
        margin-top: 5px;
    }
    trix-toolbar .button_group button, trix-toolbar .button_group input[type=button]{
        width: 25px !important;
        height: 25px !important;
    }
    trix-toolbar .button_group button::before, trix-toolbar .button_group input[type=button]::before{
        background-size: 65%
    }

    /*compose mail button*/
    .composeMailBtnWrapper .leftCancelWrap,
    .composeMailBtnWrapper .rightSaveWrap{
        min-width: 0px !important;
        margin-right: 15px
    }
    .composeMailBtnWrapper .leftCancelWrap .btn-txt,
    .composeMailBtnWrapper .rightSaveWrap .btn-txt{
        display: none;
    }
    .composeMailBtnWrapper .leftBtnWrap{
        width: auto !important;
    }
    .tasksListBtnWrapper .leftNoWrap{
        min-width: 45px;
    }
    .tasksListBtnWrapper .leftBtnWrap {
        width: calc(100% - 90px);
    }

    .tasksListBtnWrapper .rightBtnWrap{
        min-width: 80px;
    }
    .tasksListBtnWrapper .leftNoWrap .yes_btn{
        min-width: 0px;
        width: auto; 
    }
    .tasksListBtnWrapper .leftNoWrap .yes_btn .btn-txt{
        display: none;
    }
    .tasksListBtnWrapper.msg_btn .icon-btn .btn-txt{
        font-size: 14px;
    }
    .msg_footer h5{
        font-size: 18px;
        margin-bottom: 00px;
    }
    .logOutWrap .model_alert_text{
        padding-top: 11px;
    }
    .addMotesPopup .popup-icon{
        position: static;
        margin: 0px;
    }
    
    .modal-change .addMotesPopup .saveIncidentPopupWrap .popup-heading p {
        padding-left: 0px;
        padding-top: 6px;   
        width: 100%;
    }
    .incident-lists .heading_right .right_btn .button {
        height: 37px;
    }
    #notePopup .model_button_right,
    #notePopup .model_button_left {
        width: 47%;
    }
    #notePopup .icon-btn .btn-txt {
        font-size: 12px;
        white-space: nowrap;
    }
    #notePopup .model_button .action-button .s-btn-icon{
        width: 30px;
        height: 30px;
        font-size: 18px;
        line-height: 30px;
    }

}

@media only screen and (max-width: 359px) {
    .button {
        font-size: 12px;
        padding: 10px 10px;
    }
    .incident-btn .button{
        margin-bottom: 10px;
    }
    .view-detail a{
        width: 30px;
        height: 30px;
    }
    .incident_report_wrapper .type_wrapper .icon-btn .btn-txt{
        width: 100%;
        font-size: 12px;
    }
    .incident_report_wrapper .type_wrapper .indicate-icon{
        width: 30px;
        height: 30px;
    }
    trix-toolbar .button_group button, trix-toolbar .button_group input[type=button]{
        width: 22px !important;
        height: 22px !important;
    }
    .header-back-btn{
        margin-left: 3%;
    }
    .staff_directory .staff_tabs li{
        width: 100%;
        margin: 5px 0px;
    }
    .incident_report_wrapper .category_btn_wrapper .category_btn_left .icon-btn .button,
    .incident_report_wrapper .victim_wrap .victim_btn_wrap button,
    .icon-btn .button,
    .incident_i_wrap .button,
    label.dy_que span.chk-txt,
    .btn{
        font-size: 12px;
    }
    .incident_report_wrapper .outcome_info_wrap .info-text p{
        font-size: 13px;
        line-height: 18px;
        margin-top: 20px;
    }
    #Add_VictimWitness .two-list .form_list label{
        width: 35%;
    }
    .tasksListBtnWrapper.msg_btn .action-button .s-btn-icon, 
    .tasksListBtnWrapper.msg_btn .square-icons  .s-btn-icon{
        width: 30px;
        height: 30px;
    }
    .tasksListBtnWrapper.msg_btn .s-btn-icon img{
        width: 17px;
    }
    #notePopup .model_button .action-button .s-btn-icon{
        width: 25px;
        height: 25px;
        font-size: 14px;
        line-height: 25px;
    }
}